body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: darkslategrey;
    color: #fff; 
    font-family: Arial, sans-serif;
}

h1,
p {
    margin: 0;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

h1 img {
    max-width: 50rem;
}

#highScore {
    margin-bottom: 1rem;
}

#game-board {
    text-align: center;
}

#gameCanvas {
    border: 2px solid #fff;
    background: url('assets/ground.png') no-repeat center center;
    background-size: cover;
}

#splash {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('assets/splash.gif') no-repeat center center;
    background-size: 900px 600px;
    width: 100%;
    height: 100vh;
    color: #fff;
}
#logo { 
    position: absolute; 
    top: 25%; 
    left: 50%; 
    top: 35vh;
    transform: translate(-50%, -50%); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    max-width: 900px;
    height: auto;
}

#logo img {
    max-width: 100%;
    height: auto;
}

#mode-btns button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    width: 150px;
    background-color: #FAE9B9;
    border-color: white;
}

#change-mode,
#play-again-btn {
    width: 200px;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FAE9B9;
    border-color: white
}

#mode-btns { 
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

#game-board {
    display: none;
}

#splash {
    display: block;
}


